<table class="table table-striped" id="resultstable">
  <thead>
    <tr>
      <th>Gifter</th>
      <th>Recipient</th>
    </tr>
  </thead>

  <tbody id="results">
  </tbody>
</table>
<div id="hat"><%= image_tag 'hat.gif' %></div>
<script type="text/javascript">
  <% if @group.results.any? %>
    <% @group.results.each do |result| %>
      $('#results').append('<%= j render 'result', result: result %>');
      $('#hat').hide();
    <% end %>
  <% else %>
    $.ajax('<%= load_group_path %>');
  <% end %>
</script>
<%= form_tag load_group_path, remote: true, method: :get, id: 'shake' do %>
  <%= submit_tag "Shake the hat again!", class: 'btn btn-success' %>
<% end %>

