<p id="notice"><%= notice %></p>

<p>
  <strong>Group Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Group Coordinator:</strong>
  <%= @group.user.username %>
</p>

<h2>Santas</h2>
<div id="santa">
  <%= render @group.santa %>
</div>

<%= render 'santa/form' %>
<br>
<%= link_to 'Done', groups_path, class: 'btn btn-primary' %>
