<h1>Listing santa</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @santa.each do |santum| %>
      <tr>
        <td><%= santum.name %></td>
        <td><%= santum.email %></td>
        <td><%= santum.group.name %></td>
        <td><%= link_to 'Show', [@group, santum] %></td>
        <td><%= link_to 'Edit', edit_group_santum_path(@group, santum) %></td>
        <td><%= link_to 'Destroy', [@group, santum], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Santum', new_group_santum_path %>
