<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @santum.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @santum.email %>
</p>

<p>
  <strong>Group:</strong>
  <%= @santum.group %>
</p>

<%= link_to 'Edit', edit_santum_path(@santum) %> |
<%= link_to 'Back', santa_path %>
