<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @santum.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @santum.email %>
</p>

<p>
  <strong>Group:</strong>
  <%= @santum.group.name %>
</p>

<%= link_to 'Edit', edit_group_santum_path %> |
<%= link_to 'Back', group_santa_path %>
