<p id="notice"><%= notice %></p>

<p>
  <strong>Gifter:</strong>
  <%= @rule.gifter %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @rule.recipient %>
</p>

<p>
  <strong>Group:</strong>
  <%= @rule.group.name %>
</p>

<%= link_to 'Edit', edit_group_rule_path %> |
<%= link_to 'Back', group_rules_path %>
