<p id="notice"><%= notice %></p>

<p>
  <strong>Gifter:</strong>
  <%= @rule.gifter %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @rule.recipient %>
</p>

<p>
  <strong>Group:</strong>
  <%= @rule.group %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
